<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogforum.sso.dao.mapper.UserMapper">

    <!-- 添加用户 -->
	<insert id="save" parameterType="com.blogforum.sso.pojo.entity.User">
		insert into 
		user(
			id,
			username,
			password,
			salt,
			role,
			email,
			iphone,
			image,
			create_date,
			update_date,
			status
		) 
		values (
			#{id},
			#{username},
			#{password},
			#{salt},
			#{role},
			#{email},
			#{iphone},
			#{image},
			#{createDate},
			#{updateDate},
			#{status}
		)
		
	</insert>
	
	<select id="getUserByPwdName" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    <include refid="user"/>
	    from user u
	    where
	    username = #{username} and password = #{password} and status = '0'
	    
	</select>
	
	<select id="getUserByName" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    u.salt,
	    <include refid="user"/>
	    from user u
	    where
	    username = #{username} and status = '0'
	    
	</select>
	<select id="getUserByIphone" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    u.salt,
	    <include refid="user"/>
	    from user u
	    where
	    iphone = #{iphone} and status = '0'
	    
	</select>
	
	<select id="getUserByEmail" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    u.salt,
	    <include refid="user"/>
	    from user u
	    where
	    email = #{email} and status = '0'
	    
	</select>

	
	<select id="getById" parameterType="java.lang.String" resultType="com.blogforum.sso.pojo.entity.User">
	    select
	    <include refid="user"/>
	    from user u
	    where
	    	id = #{id} and status = '0'
	</select>
	
	<select id="getAllStatus" parameterType="java.lang.String" resultType="com.blogforum.sso.pojo.entity.User">
	    select
	    <include refid="user"/>
	    from user u
	    where
	    	id = #{id} 
	</select>
	
	<select id="getCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	    select
	    	count(1)
	    from user
	    <if test="_parameter != null">
	    where
			status = #{status}
		</if>
	    
	</select>
	
	
	
	<select id="getDateInUser" parameterType="com.blogforum.sso.pojo.vo.UserDateIn" resultType="java.lang.Integer">
	    select
	    	count(1)
	    from user u
	    where
			status = #{status} 
			<if test="startDate != null">
			    AND u.create_date <![CDATA[>=]]> #{startDate}
			</if>
 			<if test="endDate != null">
 			    AND u.create_date <![CDATA[<=]]>#{endDate}
 			</if>
	</select>
	
	<select id="queryList" parameterType="com.blogforum.sso.pojo.entity.User" resultMap="userlist">
	    select 
	    <include refid="user"/>
	    from user u 
	    where id != ""
	    <if test="username != null and username != ''">
			and username = #{username}
		</if>
	    <if test="status != null">
			and status = #{status}
		</if>
		order by create_date desc
	</select>
	
	
	
	<update id="delete" parameterType="com.blogforum.sso.pojo.entity.User">
	    update user
	    set status = '2' and update_date=#{updateDate}
	    where
	    	id = #{id}
	    
	</update>
	
	
	<!-- 更新基本信息 -->
	<update id="updateBaseInfo" parameterType="com.blogforum.sso.pojo.entity.User">
	    update user 
	    set email=#{email},iphone=#{iphone},username=#{username},image=#{image},remarks=#{remarks},
	    	province_location=#{provinceLocation},city_location=#{cityLocation},birth_province=#{birthProvince},
	    	birth_city=#{birthCity},update_date=#{updateDate}
	    where
	    	id = #{id}
	    
	</update>
	<!-- 更新密码 -->
	<update id="updatePwd" parameterType="com.blogforum.sso.pojo.entity.User">
	    update user
	    set password=#{password},salt=#{salt},update_date=#{updateDate},update_user=#{updateUser}
	    where
	    	id = #{id}
	</update>
	
	<update id="updateStatus" parameterType="com.blogforum.sso.pojo.entity.User">
	    update user
	    set status = #{status},update_date=#{updateDate},update_user=#{updateUser}
	    where 
	    	id = #{id}
	</update>
	
	<sql id="user">
	    u.id,
	    u.username,
	    u.salt,
	    u.role,
	    u.email,
	    u.iphone,
	    u.create_date createDate,
	    u.update_date updateDate,
	    u.login_date loginDate,
	    u.login_ip loginIp,
	    u.status,
	    u.image,
	    u.update_user updateUser,
	    u.remarks,
	    u.province_location provinceLocation,
	    u.city_location cityLocation,
	    u.birth_province birthProvince,
	    u.birth_city birthCity
	</sql>
	
    <resultMap type="com.blogforum.sso.pojo.entity.User" id="userlist">
        <result property="id" column="id" />
        <result property="username" column="username"/>
        <result property="salt" column="salt"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="iphone" column="iphone"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate" />
        <result property="loginDate" column="loginDate"/>
        <result property="loginIp" column="loginIp"/>
        <result property="status" column="status"/>
        <result property="image" column="image"/>
        <result property="updateUser" column="updateUser"/>
        <result property="remarks" column="remarks" />
        <result property="provinceLocation" column="provinceLocation"/>
        <result property="cityLocation" column="cityLocation"/>
        <result property="birthProvince" column="birthProvince"/>
        <result property="birthCity" column="birthCity"/>
    </resultMap>
	
	
</mapper>